/* HomePage.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    background-color: #00aced;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar {
    background-color: #00aced;
    color: white;
    padding: 10px;
    text-align: center;
}

.login-prompt {
    background-color: #ff8c8c;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.status-container {
    margin-top: 20px;
}

.status-container p {
    margin-bottom: 10px;
}

.input-container {
    margin-top: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-container button {
    background-color: #00aced;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.input-container button:hover {
    background-color: #007bb5;
}